<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Category List</h2> 
            <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Add Category</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell">Name</div>
                <div class="mat-header-cell">Has SubCategory</div> 
                <div class="mat-header-cell">Parent Category</div> 
                <div class="mat-header-cell"></div>
            </div>
            <div *ngFor="let cat of categories | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{cat.name}}</div>
                <div class="mat-cell">
                    <mat-icon class="text-muted">{{ (cat.hasSubCategory) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon> 
                </div>  
                <div class="mat-cell">
                    {{ ( categories | filterById : cat.parentId )?.name }}
                </div>   
                <div class="mat-cell">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openCategoryDialog(cat)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(cat)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="categories.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>

